.container {
    padding: 20px;

    .listImg_header {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }

    .price,
    .quantity,
    .saleOff {
        position: relative;
        align-items: center;
        margin-bottom: 20px;
    }

    .price_header,
    .quantity_header,
    .saleOff_header {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    .price_input,
    .quantity_input,
    .saleOff_input {
        font-size: 16px;
        padding: 15px 30px;
        height: 50px;
        width: 400px;
    }

    .img_input,
    .listImg_input {
        height: 50px;
        width: 400px;
    }

    .listImg_input {
        flex-direction: column;
        height: auto;

        .imgBackGround {
            margin-bottom: 10px;
        }
    }

    .header {
        margin-bottom: 20px;

        .header_title {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        .header_input {
            font-size: 16px;
            padding: 15px 30px;
            height: 45px;
            width: 400px;
        }
    }

    .details {
        .details_title {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        .details_input {
            font-size: 16px;
            padding: 15px 30px;
            height: 45px;
            width: 400px;
        }

        .inputWrapper {
            display: flex;
            align-items: center;
        }

        .inputWrapper+.inputWrapper {
            margin-top: 10px;
        }
    }

    .deleteButton {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 20px;
        height: 20px;
    }

    .addButton {
        margin-top: 10px;
        height: 30px;
        width: 70px;
    }

    .submit {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;

        .submitButton {
            width: 40%;
            height: 30px;
            font-size: 16px;
        }
    }
}