.container {
    padding: 20px;

    .listImg_header {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }

    .price,
    .quantity,
    .saleOff {
        position: relative;
        align-items: center;
        margin-bottom: 20px;
    }

    .price_header,
    .quantity_header,
    .saleOff_header {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    .price_input,
    .quantity_input,
    .saleOff_input {
        font-size: 16px;
        padding: 15px 30px;
        height: 50px;
        width: 100%;
    }

    .img_input,
    .listImg_input {
        height: 50px;
    }

    .listImg_input {
        flex-direction: column;
        height: auto;

        .imgBackGround {
            margin-bottom: 10px;
        }
    }

    .header {
        margin-bottom: 20px;

        .header_title {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        .header_input {
            font-size: 16px;
            padding: 15px 30px;
            height: 45px;
        }
    }

    .details {
        .details_title {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        .details_input {
            font-size: 16px;
            padding: 15px 30px;
            height: 45px;
        }

        .inputWrapper {
            display: flex;
            align-items: center;
        }

        .inputWrapper+.inputWrapper {
            margin-top: 10px;
        }
    }

    .deleteButton {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 20px;
        height: 20px;
    }

    .addButton {
        margin-top: 10px;
        height: 30px;
        width: 70px;
    }

    .submit {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;

        .submitButton {
            width: 40%;
            height: 30px;
            font-size: 16px;
        }
    }
}

.price_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.price_input {
    flex: 1;
    padding-right: 40px;
    /* Chừa khoảng trống cho đơn vị */
}

.price_unit {
    position: absolute;
    right: 10px;
    /* Căn lề phải */
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    /* Màu chữ */
    pointer-events: none;
    /* Không cho phép người dùng tương tác */
}

.saleOff_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.saleOff_input {
    flex: 1;
    padding-right: 30px;
    /* Chừa khoảng trống cho ký hiệu % */
}

.saleOff_unit {
    position: absolute;
    right: 10px;
    /* Căn lề phải */
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    /* Màu chữ */
    pointer-events: none;
    /* Không cho phép người dùng tương tác */
}