.wrapper {
    display: flex;
    justify-content: center;

    .inner_wrapper {
        width: var(--default_page_width);
        padding-bottom: 200px;

        .header {
            .main_header {
                margin: 48px 0 15px;
                padding-left: 10px;
                border-left: 4px solid black;
                font-size: 40px;
                font-weight: bolder;
            }

            .sub_header {
                margin-bottom: 70px;
                font-size: 16px;
            }
        }

        .content {
            .table {
                .tbody {
                    display: flex;
                }
            }

            .content_table_header {
                font-size: 20px;
                background-color: #fafafa;
                height: 100px;

                .content_header {
                    margin: 0 10px;
                    width: 12.5%;
                }

            }

        }
    }
}

.search_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Khoảng cách giữa input và button */
    margin: 20px 0;
}

.search_input {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search_button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search_button:hover {
    background-color: #0056b3;
}

.search_icon {
    fill: #fff;
    /* Màu biểu tượng */
    width: 16px;
    height: 16px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_input {
    font-size: 16px;
    padding: 15px 30px;
    height: 50px;
    width: 400px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.status_input {
    font-size: 16px;
    padding: 15px 30px;
    height: 50px;
    width: 200px;
}