.wrapper{
    display: flex;
    justify-content: center;
    .inner_wrapper {
        width: var(--default_page_width);
        padding-bottom: 200px;
        .header{
            .main_header {
                margin: 48px 0 15px;
                padding-left: 10px;
                border-left: 4px solid black;
                font-size: 40px;
                font-weight: bolder;
            }
            .sub_header {
                margin-bottom: 70px;
                font-size: 16px;
            }
        }
        .content {
            .table{
                .tbody {
                    display: flex;
                }
            }
            .content_table_header {
                font-size: 20px;
                background-color: #fafafa;
                height: 100px;
                .content_header {
                    margin: 0 10px;
                    width: 12.5%;
                }
               
            }
            
        }
    }
}