.wrapper {
    display: flex;
    justify-content: center;
    .inner_wrapper{
        width: var(--default_page_width);
        padding-bottom: 200px;
        .header {
            .main_header {
                margin: 48px 0 15px;
                padding-left: 10px;
                border-left: 4px solid black;
                font-size: 40px;
                font-weight: bolder;
            }
            .sub_header {
                margin-bottom: 70px;
                font-size: 16px;
            }
        }
        .content {
            display: flex;
            .left_content, .right_content {
                flex: 0.5;
            }
            .name, .price, .quantity, .description, .saleOff, .category, .img, .listImg {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            .name_header, .price_header, .quantity_header, .description_header, .saleOff_header, .category_header, .img_header, .listImg_header {
                width: 100px;
                color: #444;
                font-size: 18px;
                font-weight: bolder;
            }
            .name_input, .price_input, .quantity_input, .description_input, .saleOff_input, .category_input {
                font-size: 16px;
                padding: 15px 30px;
                height: 50px;
                width: 400px;
            }
            .noInput {
                border: 1px solid red;
            }
            
            .img_container {
                height: 50px;
                width: 400px;
            }
            .description_input {
                resize: none;
                height: 300px;
            }
            .img_input, .listImg_input{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 400px;
            }
            .listImg_input{
                flex-direction: column;
                height: auto;
                .imgBackGround {
                   margin-bottom: 10px;
                }
            }
            
        }
        .footer {
            position: relative;
            display: flex;
            margin-left: 100px;
            .button {
                height: 40px;
                width: 150px;
                font-size: 17px;
                &+.button {
                    margin-left: 20px;
                }
            }
            .errorMessage {
                bottom: -24px;
                color: red;
                position: absolute;
            }
        }
        @media (max-width: 1350px) {
            .content{
                display: block;
            }
        }
        @media (max-width: 610px) {
            .content{
                .name, .price, .quantity, .description, .saleOff, .category, .img, .listImg {
                    display: block;
                }
                .name_header, .price_header, .quantity_header, .description_header, .saleOff_header, .category_header, .img_header, .listImg_header {
                   margin-bottom: 10px;
                }
                .name_input, .price_input, .quantity_input, .description_input, .saleOff_input, .category_input,.img_input, .listImg_input {
                    width: 100%;
                }
            }
            .footer {
                margin-left: 0;
                .button {
                    font-size: 14px;
                }
            }
        }
    }
}