.wrapper {
    // background-color: red;

    .content {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;

        .img {
            width: 80%;
        }

        @media (max-width: 600px) {
            .img {
                width: 80%;
            }
        }

        @media (max-width: 450px) {
            .img {
                width: 80%;
            }
        }

        .title {
            color: #ffffff;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 9%;
            font-size: 45px;
            font-weight: bolder;
        }

        @media (max-width: 790px) {
            .title {
                font-size: 30px;
            }
        }

        @media (max-width: 540px) {
            .title {
                font-size: 20px;
            }
        }
    }
}