.filterPopUp_wrapper {
    padding: 50px;
    .category {
        .category_header {
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
        }
        .category_content {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            column-gap: 10px;
            row-gap: 10px;
            .content{
                height: 30px;
                font-size: 17px;
            }
        }
        @media (max-width: 660px) {
           .category_content {
            grid-template-columns: repeat(3, minmax(0, 1fr));
           }
        }
        @media (max-width: 400px) {
            .category_content {
             grid-template-columns: repeat(2, minmax(0, 1fr));
            }
         }
         @media (max-width: 320px) {
            .category_content {
             grid-template-columns: repeat(1, minmax(0, 1fr));
            }
         }
    }
}