.carousel-container {
    width: 100%;
}

.App {
    position: relative;
}

.react-chatbot-kit-chat-container {
    width: 30vw !important;
    height: 70vh !important;
    min-width: 300px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 0 !important;
}

.react-chatbot-kit-chat-inner-container {
    height: 100% !important;
}


.react-chatbot-kit-chat-message-container {
    height: calc(100% - 50px) !important;
}