.wrapper {
    display: flex;
    margin-top: 20px;
    padding: 30px 0;
    justify-content: center;
    border-bottom: 1px solid #ececec;

    .wrapper_content {
        width: var(--default_page_width);

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .feature,
            .show {
                width: 217px;
            }

            @media (max-width: 590px) {

                .feature,
                .show {
                    width: 100px;
                }
            }

            .sortBy {
                display: flex;

                .sort_icon {
                    width: 14px;
                    height: 14px;
                }

                .sortByHoriontal {
                    cursor: pointer;
                }

                .sortByVertical {
                    cursor: pointer;
                    margin-left: 10px;
                }

                .disable {
                    fill: #d5d5d5;
                    ;
                }
            }

            .pages {
                display: flex;
                max-width: 500px;

                .pageDots {
                    font-weight: bold;
                    height: 30px;
                    display: flex;
                    align-items: flex-end;
                }

                .paging {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38px;
                    height: 38px;

                    &:hover {
                        background-color: rgb(13, 60, 85);
                        color: #fff;
                    }

                    &+.paging {
                        margin-left: 2px;
                    }
                }

                .paging_active {
                    background-color: rgb(13, 60, 85);
                    color: #fff;
                }

                .leftArrow,
                .rightArrow {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38px;
                    height: 38px;

                    &:hover {
                        background-color: rgb(13, 60, 85);

                        .rightArrow_icon,
                        .leftArrow_icon {
                            fill: #fff;
                        }
                    }
                }

                .rightArrow_icon,
                .leftArrow_icon {
                    width: 10px;
                    height: 10px;
                }
            }

            .filter {
                display: flex;
                width: 140px;
                padding: 10px 21px;
                align-items: center;
                background-color: rgb(255, 255, 255);
                justify-content: space-between;

                .filter_header {
                    color: #555;
                }

                .filter_icon_wrapper {
                    .filter_icon {
                        width: 20px;
                        height: 15px;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgb(248, 248, 248);
                }
            }
        }

        .content {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            row-gap: 40px;
            column-gap: 10px;
        }

        @media (max-width: 770px) {
            .content {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }

        @media (max-width: 600px) {
            .content {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }

        @media (max-width: 480px) {
            .content {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        @media (max-width: 300px) {
            .content {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }

    @media (max-width: 1100px) {
        .wrapper_content {
            width: 100%;
        }
    }
}

.filterPopUp_wrapper {
    padding: 50px;

    .category {
        .category_header {
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
        }

        .category_content {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            column-gap: 10px;
            row-gap: 10px;

            .content {
                height: 30px;
                font-size: 17px;
            }
        }
    }
}